* {
  margin: 0;
  padding: 0;
}

.movieCard {
  height: 25rem;
  width: 14rem;
  display: flex;
  flex-direction: column;
  margin: 30px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(255, 87, 87, 0.1);
  transition: transform 0.3s ease;
  img {
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    height: 65%;
    width: 100%;
    @media only screen and (max-width: 400px) {
      border-radius: 15px;
    }
  }
  &:hover {
    transform: scale(1.05);
  }
  @media only screen and (max-width: 768px) {
    height: 17rem;
    width: 10rem;
  }
  @media only screen and (max-width: 400px) {
    height: 14rem;
    width: 7rem;
    margin: 10px;
  }
}

.movieCard__textarea {
  margin: 10px;
  height: 30%;
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  h1 {
    font-size: 1.1rem;
    margin: 0;
    @media only screen and (max-width: 400px) {
      font-size: 0.7rem;
    }
  }
  p {
    font-size: 0.8rem;
    @media only screen and (max-width: 400px) {
      font-size: 0.4rem;
    }
  }
}

.movieCard__textarea-rating {
  background: red;
  border-radius: 5px;
  padding-left: 5px;
  color: #ffffff;
  font-size: 0.8rem;
}
